{% extends 'layout.twig' %}

{% block body %}
    <form id="login-form" method="POST">
        <div>
            <label for="username"> Имя пользователя </label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label for="password"> Пароль </label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Войти"/>
        </div>
    </form>
{% endblock %}
