html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

.scenario {
  height: 100%;
  padding: 30px;
  font-size: 25px;
  line-height: 2;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fdf6e3;
  color: #657b83;
}

#login-form {
  display: block;
  margin: 0 auto;
  width: 200px;
}
#login-form label {
  display: block;
}
#login-form input {
  display: block;
}